<header>
  <div id="nav">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
  <div id="logo">
    <div style="padding-left:65px">
     <img src="logo.png" alt="Smiley face" height="80" width="80"/>
   </div>
    <h1><a href="/" id="logoLink"><b>Healthcare Hospital</b></a></h1>
  </div>
</header>
